.btn-save {
  width: 20rem;
  border-radius: 4px;
  height: 38px;
  color: #e4dddb;
  background-color: #28a745;
  margin-left: 17px;
  padding: 4px;
  margin-top: 7px;
  font-size: 14px;
}
.btn-start {
  width: 20rem;
  border-radius: 4px;
  height: 38px;
  color: #e4dddb;
  background-color: #2b4591;
  margin-left: 17px;
  padding: 4px;
  margin-top: 7px;
  font-size: 14px;
}
#usr {
  margin-left: 17px;
}
.keyword {
  margin-left: 4rem;
}

.keyword-list {
  background-color: var(--second);
  margin-top: 12px;
  width: 20rem;
  overflow: auto;
  min-height: 50px;
  max-height: 110px;
  padding: 8px;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 15px 15px var(--fourth);
}
.keyword-list::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.keyword-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.keyword-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--first);
}
.keyword-list::-webkit-scrollbar-thumb:window-inactive {
  background: var(--first);
}

.btn-save:hover {
  background-color: #3dbe29;
  cursor: pointer;
}

.btn-start:hover {
  background-color: #3867d6;
  cursor: pointer;
}
